.input {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font-primary;
  label {
    font-size: $font-size-p;
  }
  input {
    font-size: $font-size-p;
    border: $color-primary-black solid 2px;
  }
}